ibm-vpc
jsonpath2==0.4.4
logzero==1.5.0
paramiko==2.7.2
ibm_platform_services
ibm-cloud-sdk-core
mysql-connector-python~=8.0.23
py~=1.10.0
colorama~=0.4.4
cryptography~=3.4.6
pip~=21.0.1
wheel~=0.36.2
attrs~=20.3.0
six~=1.15.0
pytest~=6.2.2
PyJWT~=2.0.1
requests~=2.25.1
toml~=0.10.2
PyYAML~=5.4.1
pluggy~=0.13.1
iniconfig~=1.1.1
atomicwrites~=1.4.0
numpy~=1.20.1
certifi~=2020.12.5
chardet~=4.0.0
urllib3~=1.26.3
coverage~=5.4
python-dateutil~=2.8.1
bcrypt~=3.2.0
idna~=2.10
pyparsing~=2.4.7
pycparser~=2.20
websocket-client~=0.48.0
setuptools~=40.8.0
click~=7.1.2
chaostoolkit~=1.9.0
packaging~=20.9
termcolor~=1.1.0
zipp~=3.4.0
pymqi~=1.12.0
ibm-cloud-databases~=0.1.0